.Header-image{
border-collapse: separate;
    text-indent: initial;
    line-height: normal;
    font-weight: normal;
    font-size: medium;
    font-style: normal;
    color: -internal-quirk-inherit;
    text-align: start;
    border-spacing: 20px;
    white-space: normal;
    font-variant: normal;
        position: relative;
        top: 0px;    /* Move down by 50px */
        left: 120px;
        width: 1600px;  /* Adjust the size of the image */
      }
      .Header-image-2{
        margin-left: 120px;
        margin-right: auto;
        top: -520px;
        position: relative;
        width: 1600px;
      }
      .Header-image-3{
        margin-left: 120px;
        margin-right: auto;
        top: -233px;
        position: relative;
        width: 1600px;
      }
      .Header-logo{
        margin-left: 280px;
        margin-right: auto;
        top: -700px;
        position: relative;
        width: 142px;
        border-collapse: separate;
        text-indent: initial;
        line-height: normal;
        font-weight: normal;
        font-size: medium;
        font-style: normal;
        text-align: start;
        border-spacing: 2px;
        white-space: normal;
        font-variant: normal;

      }
      .AutolivPartnerPortalText-1{
        left: 540px;
        top: -415px;
        position: relative;
        font-size: 60px;
        width: 2500px;
        color: #005495;
        font-family: Archivo, 'sans-serif';
        font-style: normal;
        border-collapse: separate;
        text-indent: initial;
        line-height: normal;
        font-weight: normal;
        border-spacing: 3px;
        white-space: normal;
        font-variant: normal;
    }  
    .AutolivPartnerPortalText{
        left: 320px;
        top: -415px;
        position: relative;
        font-size: 60px;
        width: 2500px;
        color: #005495;
        font-family: 'Archivo';
        font-style: normal;
        border-collapse: separate;
        text-indent: initial;
        line-height: normal;
        font-weight: normal;
        border-spacing: 3px;
        white-space: normal;
        font-variant: normal;
    }      
.autoliv-content{
        left: -10px;
    font-family: 'Archivo', 'sans-serif';
    position: absolute;
    width: 800px;
    height: 153px;
    font-size: 22px;
}
    
html{
    height: 100%;
    margin: 0px;
    width: 342px;
    height: 100%;
    border-top-width: 10px;
    border-bottom-width: 0px;
    border-left-width: 10px;
    border-right-width: 10px;
    -webkit-border-horizontal-spacing: 0px;
    -webkit-border-vertical-spacing: 0px;
    margin-inline-start:auto;
    margin-inline-end: auto;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x:hidden;
  }
 


        




    
    .topnav-options{
    color: #749ed4;
    font-family: 'Archivo', 'sans-serif';
    FONT-WEIGHT: bold;
    padding: 5px 18px 5px;
    text-decoration: none;
    font-size: 18px;
    line-height: 20px;
    PADDING-BOTTOM: 10px;
    MARGIN: 3px 0px 0px;
    PADDING-LEFT: 15px;
    PADDING-RIGHT: 15px;
    TEXT-DECORATION: none;
    PADDING-TOP: 3px;
    text-shadow: #e9f1fa 1px 1px 0;
    display: inline-block;
}
.PartnerPortalContent{
    left: 298px;
    top: 550px;
    font-family: Archivo, 'sans-serif';
    position: absolute;
    width: 812px;
    height: 153px;
    font-size: 22px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}
.PartnerPortalContent-1{
    left: 298px;
    top: 640px;
    font-family: Archivo, 'sans-serif';
    position: absolute;
    width: 800px;
    height: 153px;
    font-size: 22px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}
.Header-portalcontent{
    left: 298px;
    top: 730px;
    font-family: 'Archivo', 'sans-serif';
    font-weight: lighter;
    left: 298px;
    position: absolute;
    

}
.PartnerPortalContent-2{
    left: 298px;
    top: 800px;
    font-family: Archivo, 'sans-serif';
    position: absolute;
    width: 800px;
    height: 153px;
    font-size: 22px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}
.PartnerPortalContent-3{
    left: 298px;
    top: 900px;
    font-family: 'Archivo', 'sans-serif';
    position: absolute;
    width: 800px;
    height: 153px;
    font-size: 22px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}
.PartnerPortalContent-4{
    left: 298px;
    top: 1040px;
    font-family: Archivo, 'sans-serif';
    position: absolute;
    width: 800px;
    height: 153px;
    font-size: 22px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}
.footer-text{
    position: relative;
    top:650px;
    left: 100px;
    font-family: 'Archivo', 'sans-serif';
    font-size: 16px;
    background-color: #002851;
    color:white;
    width: 900px;
    border: 1px solid black;
    border-radius:5px;
    box-shadow:5px 5px 5px hsl(0, 0%, 0.1);
    padding:30px;
    padding-right:400px; 
    padding-left: 300px;
    padding-top:70px;
    justify-content: center;
    margin-top: -50%;
}

.footer-text-supplier{    
  
        position: relative;
        top:650px;
        left: 100px;
        font-family: 'Archivo', 'sans-serif';
        font-size: 16px;
        background-color: #002851;
        color:white;
        width: 900px;
        border: 1px solid black;
        border-radius:5px;
        box-shadow:5px 5px 5px hsl(0, 0%, 0.1);
        padding:30px;
        padding-right:400px; 
        padding-left: 300px;
        padding-top:70px;
        justify-content: center;
        margin-top: -50%;

}
.site-policy{
    font-size:18px;
}



.footer-text-support{
  
    position: relative;
    top:650px;
    left: 100px;
    font-family: 'Archivo', 'sans-serif';
    font-size: 16px;
    background-color: #002851;
    color:white;
    width: 900px;
    border: 1px solid black;
    border-radius:5px;
    box-shadow:5px 5px 5px hsl(0, 0%, 0.1);
    padding:30px;
    padding-right:400px; 
    padding-left: 300px;
    padding-top:70px;
    justify-content: center;
    margin-top: -130%;

}
.site-policy{
font-size:18px;
}

.link {
    position: relative;
    top: -880px;
    left: 675px;
    font-size: 18px;
    color: #005495; /* Text color */
    font-family: 'Archivo', 'sans-serif';
    font-weight: bold; /* Use lowercase for consistency */
    padding: 5px 18px 5px;
    text-decoration: none; /* Removes underline */
    line-height: 20px;
    margin: 3px 0px 0px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 3px;
    padding-bottom: 10px;
    text-shadow: #e9f1fa 1px 1px 0;
    display: inline-block; 
    cursor: pointer; 
  

 
}

.link:hover {
    color: #007bff; /* Text color on hover */
    
}
.link-1{
    position: relative;
    top: -932px;
    left: 760px;
    font-size: 18px;
    color: #005495;
    font-family: 'Archivo';
    FONT-WEIGHT: bold;
    padding: 5px 18px 5px;
    text-decoration: none;
    font-size: 18px;
    line-height: 20px;
    PADDING-BOTTOM: 10px;
    MARGIN: 3px 0px 0px;
    PADDING-LEFT: 15px;
    PADDING-RIGHT: 15px;
    TEXT-DECORATION: none;
    PADDING-TOP: 3px;
    text-shadow: #e9f1fa 1px 1px 0;
    display: inline-block;
}

 


.link:hover {
    text-decoration: none; /* Ensures no underline on hover */
    color: #004080; /* Optional: Change color on hover */
}
.link-2{
    position: relative;
    top: -984px;
    left: 930px;
    font-size: 18px;
    color: #045ca0e1; /* Text color */
    font-family: 'Archivo', 'sans-serif';
    font-weight: bold; /* Use lowercase for consistency */
    padding: 5px 18px 5px;
    text-decoration: none; /* Removes underline */
    line-height: 20px;
    margin: 3px 0px 0px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 3px;
    padding-bottom: 10px;
    text-shadow: #ffffff 1px 1px 0;
    display: inline-block; 
    cursor: pointer; 
    width: 800px;

 
}

.link:hover {
    text-decoration: none; /* Ensures no underline on hover */
    color: #71a6db; /* Optional: Change color on hover */
}
.link-3{
    position: relative;
    top: -1036px;
    left: 1030px;
    font-size: 18px;
    color: #005495; /* Text color */
    font-family: 'Archivo', 'sans-serif';
    font-weight: bold; /* Use lowercase for consistency */
    padding: 5px 18px 5px;
    text-decoration: none; /* Removes underline */
    line-height: 20px;
    margin: 3px 0px 0px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 3px;
    padding-bottom: 10px;
    text-shadow: #e9f1fa 1px 1px 0;
    display: inline-block; 
    cursor: pointer; 
    width: 800px;

 
}

.link:hover {
    text-decoration: none; /* Ensures no underline on hover */
    color: #004080; /* Optional: Change color on hover */
}
.link-4{
    position: relative;
    top: -1088px;
    left: 1250px;
    font-size: 18px;
    color: #005495; /* Text color */
    font-family: 'Archivo', 'sans-serif';
    font-weight: bold; /* Use lowercase for consistency */
    padding: 5px 18px 5px;
    text-decoration: none; /* Removes underline */
    line-height: 20px;
    margin: 3px 0px 0px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 3px;
    padding-bottom: 10px;
    text-shadow: #e9f1fa 1px 1px 0;
    display: inline-block; 
    cursor: pointer; 
    width: 800px;

 
}

.link:hover {
    text-decoration: none; /* Ensures no underline on hover */
    color: #004080; /* Optional: Change color on hover */
}
.link-5{
    position: relative;
    top: -1140px;
    left: 1370px;
    font-size: 18px;
    color: #005495; /* Text color */
    font-family: 'Archivo', 'sans-serif';
    font-weight: bold; /* Use lowercase for consistency */
    padding: 5px 18px 5px;
    text-decoration: none; /* Removes underline */
    line-height: 20px;
    margin: 3px 0px 0px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 3px;
    padding-bottom: 10px;
    text-shadow: #e9f1fa 1px 1px 0;
    display: inline-block; 
    cursor: pointer; 
    width: 800px;

 
}

.link:hover {
    text-decoration: none; /* Ensures no underline on hover */
    color: #004080; /* Optional: Change color on hover */
}

/* Login Page Styles */
.login-container {
 
        left: 1200px;
        top: 480px;
        position: absolute;
        height: 300px;
        width: 300px;
      
    width: 15%;
    margin: 100px auto;
    padding: 20px;
    border: 10px solid #ccc;
    border-radius: 10px;
    background-color: #005495;
    text-align: center;

       
  }
  
  h2 {
    color: #005495;
    font-family: 'Archivo', 'sans-serif';
    margin-bottom: 20px;
  }
  
  .input-group {
    margin-bottom: 10px;
    text-align: left;
  }
  
  .input-group label {
    display: block;
    font-size: 14px;
    font-family: 'Archivo', 'sans-serif';
    margin-bottom: 5px;
    color: #ffffff;
  }
  
  .input-group input {
    width: 80%;
    padding: 10px;
    font-size: 14px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
  }
  
  button {
    width: 40%;
    background-color: #000000;
    color: rgb(255, 255, 255);
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #004080;
  }
  .externallink{
    left: 340px;
    top: 662px;
    font-family: Archivo, 'sans-serif';
    position: absolute;
    width: 800px;
    height: 153px;
    font-size: 22px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}
.externallink-2{
    left: 300px;
    top: 750px;
    font-family: Archivo, 'sans-serif';
    position: absolute;
    width: 800px;
    height: 153px;
    font-size: 22px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}
.externallink-3{
    left: 525px;
    top: 542px;
    font-family: Archivo, 'sans-serif';
    position: absolute;
    width: 800px;
    height: 153px;
    font-size: 19px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}
.PartnerPortalContent-support{
    left: 400px;
    top: 500px;
    font-family: 'Archivo', 'sans-serif';
    position: absolute;
    width: 900px;
    height: 153px;
    font-size: 19px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
    word-spacing:1px;
}
.support-text{
    left: 680px;
    top: 543px;
    font-family: 'Archivo', 'sans-serif';
    position: absolute;
    width: 900px;
    height: 153px;
    font-size: 19px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
    justify-content: center;

}
.table{
 position: relative;
 top:-750px;
 left:400px;;
}
.support-header-text{
    top: -620px;
    width: 650px;
    left: 400px;
    position: relative;
    font-family: Archivo, 'sans-serif';
    font-size: 35px;
}

.support-text1{
    left: 400px;
    top: -630px;
    font-family: 'Archivo', 'sans-serif';
    position: relative;
    width: 900px;
    height: 153px;
    font-size: 19px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
    justify-content: center;

}
.support-text2{
    left: 400px;
    top: -730px;
    font-family: 'Archivo';
    position: relative;
    width: 800px;
    height: 153px;
    font-size: 19px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
    justify-content: center;

}
.support-text3{
    left: 400px;
    top: -840px;
    font-family: 'Archivo';
    position: relative;
    width: 700px;
    height: 153px;
    font-size: 19px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
    justify-content: center;

}
.support-text4{
    left: 400px;
    top: -970px;
    font-family: 'Archivo';
    position: relative;
    width: 700px;
    height: 153px;
    font-size: 19px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
    justify-content: center;

}
.support-text5{                                                                              
    
    left: 420px;
    top: -1115px;
    font-family: 'Archivo';
    position: relative;
    width: 900px;
    height: 153px;
    font-size: 19px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
    justify-content: center;
    margin-bottom: 20px; 
    -ms-grid-row-span:10px;



} 

.support-text51{                                                                              
    
    left: 420px;
    top: -1250px;
    font-family: 'Archivo';
    position: relative;
    width: 900px;
    height: 153px;
    font-size: 19px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
    justify-content: center;
    margin-bottom: 20px; 
    -ms-grid-row-span:10px;



}   
.support-text52{                                                                              
    
    left: 420px;
    top: -1380px;
    font-family: 'Archivo';
    position: relative;
    width: 900px;
    height: 153px;
    font-size: 19px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
    justify-content: center;
    margin-bottom: 20px; 
    -ms-grid-row-span:10px;



}   
.support-text53{                                                                              
    
    left: 420px;
    top: -1480px;
    font-family: 'Archivo';
    position: relative;
    width: 900px;
    height: 153px;
    font-size: 19px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
    justify-content: center;
    margin-bottom: 20px; 
    -ms-grid-row-span:10px;



}
.support-text54{                                                                              
    
    left: 420px;
    top: -1540px;
    font-family: 'Archivo';
    position: relative;
    width: 900px;
    height: 153px;
    font-size: 19px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
    justify-content: center;
    margin-bottom: 20px; 
    -ms-grid-row-span:10px;



}   
.support-text55{                                                                              
    
    left: 420px;
    top: -1650px;
    font-family: 'Archivo';
    position: relative;
    width: 900px;
    height: 153px;
    font-size: 19px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
    justify-content: center;
    margin-bottom: 20px; 
    -ms-grid-row-span:10px;



}  



















.externallink-4{
    left: 550px;
    top: -820px;
    font-family: Archivo, 'sans-serif';
    position: relative;
    width: 800px;
    height: 153px;
    font-size: 19px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}
   

.externallink-5{
    left: 550px;
    top: -950px;
    font-family: Archivo, 'sans-serif';
    position: relative;
    width: 800px;
    height: 153px;
    font-size: 19px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}


.externallink-6{
    left: 550px;
    top: -1080px;
    font-family: Archivo, 'sans-serif';
    position: relative;
    width: 800px;
    height: 153px;
    font-size: 19px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}


.externallink-7{
    left: 550px;
    top: -1210px;
    font-family: Archivo, 'sans-serif';
    position: relative;
    width: 800px;
    height: 153px;
    font-size: 19px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}


.externallink-8{
    left: 550px;
    top: -1330px;
    font-family: Archivo, 'sans-serif';
    position: relative;
    width: 800px;
    height: 153px;
    font-size: 19px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}
.footer-text-general-requirment
{
    position: relative;
    top: 750px;
    left: 150px;
    font-family: 'Archivo', 'sans-serif';
    font-size: 16px;
    background-color: #002851;
    color:white;
    width: 900px;
    border: 1px solid black;
    border-radius:5px;
    box-shadow:5px 5px 5px hsl(0, 0%, 0.1);
    padding:30px;
    padding-right:400px; 
    padding-left: 300px;
    padding-top:70px;
    justify-content: center;
    margin-top: -100%;

}
.generalrequirment-text{
left: 510px;
top: -700px;
font-family: Archivo, 'sans-serif';
position: relative;
width: 800px;
height: 153px;
font-size: 22px;
display: block;
margin-block-start: 1em;
margin-block-end: 1em;
margin-inline-start: 0px;
margin-inline-end: 0px;
unicode-bidi: isolate;

}
/* styles.css */
.login-section {
    padding: 120px;
    color: #e9f1fa;
    position: relative;
    left: 60%; /* Center horizontally */
    transform: translateX(-50%); /* Center horizontally */
    font-family: 'Archivo';
    height: 250px;
    width: 300px;
    margin: 40px auto; /* Center vertically and provide spacing from other content */
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    background-color: #005495; /* White background for a clean look */
}

.input-control {
    display: block;
    width: 100%; /* Full width of the parent container */
    padding: 12px; /* Increased padding for better user experience */
    margin-bottom: 12px; /* Spacing between input fields */
    border: 1px solid #005495;
    border-radius: 4px;
    box-sizing: border-box; /* Ensures padding and border are included in the total width and height */
}

.btn {
    padding: 14px; /* Increased padding for the button */
    border: none;
    background-color:#111111; /* Amazon's yellow button color */
    color: #fffefe; /* Text color for the button */
    border-radius: 4px;
    cursor: pointer;
    width: 100%; /* Full width of the parent container */
    font-size: 16px;
    box-sizing:border-box; 
    position: relative;
    top:10px/* Ensures padding and border are included in the total width and height */
}

.btn:hover {
    background-color: #555050; /* Slightly darker yellow on hover */
}

.errmsg {
    color: red;
    font-size: 14px;
    margin-bottom: 12px;
    position: relative;
    top:210px;
    left:0px /* Spacing between error message and form fields */
}

.offscreen {
    position: absolute;
    left: -9999px;
}
.LoginForm-home{
    left:-350px;
    top:-700px;
    position:relative;
   
}
.Forgotpass{
    color: #e9f1fa;
}
.login-logo{
    position: relative;
    top:-350px;
    left:00px;
    
    
}
.Header-login{
    position: relative;
    left:80px;
    font-size:38;
}

